################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
DiscordBot/.vs/DiscordBot/
DiscordBot/DiscordBot/obj/
DiscordBot/DiscordBot/bin/
DiscordBot/DiscordBot/Properties/